<div class="slide__cover slide__cover--column">
  <h2 class="slide__title">Broken Edit Form - No Starting Values</h2>
  <div class="card-container">
    <div class="card">
{{! BEGIN-SNIPPET first-edit-template }}
<h2>Model Name: {{model.name}}</h2>
{{new-slide-form onsubmit=(action "saveNewSlide")}}
{{! END-SNIPPET }}
    </div>

    <div class="card">
      <h3>No Starting Values</h3>

      <h4 class="code-example-title">components/new-slide-form/template.hbs</h4>
      {{code-snippet name="new-slide-form-template.hbs"}}

      <h4 class="code-example-title">components/new-slide-form/component.js</h4>
      {{code-snippet name="new-slide-form-component.js"}}

      <hr>

      <h4 class="code-example-title">first-edit/route.js</h4>
      {{code-snippet name="first-edit-route.js"}}

      <h4 class="code-example-title">first-edit/controller.js</h4>
      {{code-snippet name="first-edit-controller.js"}}

      <h4 class="code-example-title">first-edit/template.hbs</h4>
      {{code-snippet name="first-edit-template.hbs"}}
    </div>
  </div>
</div>
