<div class="slide__cover slide__cover--column">
  <h2 class="slide__title">Broken Edit Form</h2>
  <div class="card-container">
    <div class="card">
{{! BEGIN-SNIPPET dedicated-component-template }}
<h2>Model Name: {{model.name}}</h2>
{{new-slide-form onsubmit=(action "saveNewSlide")}}
{{! END-SNIPPET }}
    </div>

    <div class="card">
      <h3>No Starting Values</h3>

      <h4 class="code-example-title">components/new-slide-form/template.hbs</h4>
      {{code-snippet name="new-slide-form-template.hbs"}}

      <h4 class="code-example-title">components/new-slide-form/component.js</h4>
      {{code-snippet name="new-slide-form-component.js"}}

      <hr>

      <h4 class="code-example-title">dedicated-component/route.js</h4>
      {{code-snippet name="dedicated-component-route.js"}}

      <h4 class="code-example-title">dedicated-component/controller.js</h4>
      {{code-snippet name="dedicated-component-controller.js"}}

      <h4 class="code-example-title">dedicated-component/template.hbs</h4>
      {{code-snippet name="dedicated-component-template.hbs"}}
    </div>
  </div>
</div>
