<div class="slide__cover slide__cover--column">
  <h2 class="slide__title">Wait To Save</h2>
  <div class="card-container">
    <div class="card">
{{! BEGIN-SNIPPET wait-to-save-template }}
<form onsubmit={{action "saveNewSlide"}}>
  <div class="form-field">
    <label class="form-field__label">Slide Name</label>
    {{input class="form-field__input" placeholder="Slide Name" value=name}}
  </div>

  <button class="form-btn form-btn--submit">Save</button>
</form>
{{! END-SNIPPET }}
    </div>

    <div class="card">
      <h4 class="code-example-title">wait-to-save/route.js</h4>
      {{code-snippet name="wait-to-save-route.js"}}

      <h4 class="code-example-title">wait-to-save/controller.js</h4>
      {{code-snippet name="wait-to-save-controller.js"}}

      <h4 class="code-example-title">wait-to-save/template.hbs</h4>
      {{code-snippet name="wait-to-save-template.hbs"}}
    </div>
  </div>
</div>
